mat-toolbar {
    background-color: transparent;
  }

.example-spacer {
    flex: 1 1 auto;
  }

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
  gap: 10px;
}

mat-spinner {
    margin: 20px auto;
}
label {
  user-select: none;
}

a{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

a:hover:not {
  color: #fff;
  background-color: transparent;
}
