mat-toolbar {
    background-color: transparent;
  } 

.example-spacer {
    flex: 1 1 auto;
  }

  .slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slides-wrapper {
    display: flex;
    width: 100%;
  }
  
/*CSS personalizados */
details {
    margin: 10px;
    text-align: end;
}


span.ExameLiberado {
    color: green;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

span.EmAnalise {
    color: rgb(189, 189, 13);
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}
span.ExameEmAnalise {
    color: rgb(189, 189, 13);
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

span.ExameSolicitado {
    color: rgb(184, 181, 181);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

span.Pendente {
    color: rgb(145, 10, 10);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

span.Ativo {
    color: green;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}



span.Liberado {
    color: rgb(5, 100, 18);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

span.Pronto {
    color: rgb(189, 189, 13);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}


span.Solicitado {
    color: rgb(119, 117, 117);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    gap: 10px;
}

/* Ou usando Angular Material */
mat-spinner {
    margin: 20px auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.my-custom-badge-accent.mat-badge-accent .mat-badge-content {
    background-color: transparent;
    color: white;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.form-field {
    color: white;
    border-radius: 10px;
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}


.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom10 {
    padding-bottom: 10px
}

.color-empresa {
    background-image: linear-gradient(to right, #667f8d, #405059);
}

.color-cacamba {
    background-image: linear-gradient(to right, #21bbbb, #0c8f8f);
}

.color-tonelada {
    background-image: linear-gradient(to right, #aedaab, #73b06f);
}

.color-qualidade {
    background-image: linear-gradient(to right, #fccf77, #ffad08);
}

.color-usuario {
    background-image: linear-gradient(to right, #6dc3f5, #2e5166);
}

.color-evento {
    background-image: linear-gradient(to right, #6dc3f5, #2e5166);
}

.color-alarme {
    background-image: linear-gradient(to right, #662740, #220d15);
}

.color-camera {
    background-image: linear-gradient(to right, #d2d09f, #868566);
}

.color-dispositivo {
    background-image: linear-gradient(to right, #ab9a89, #63594f);
}

.color-sucateiro {
    background-image: linear-gradient(to right, #667f8d, #405059);
}

.color-configuracao {
    background-image: linear-gradient(to right, #8f8f8f, #272727)
}

.color-monitoramento {
    background-image: linear-gradient(to right, #61a6ab, #3c686b)
}

.color-contrato {
    background-image: linear-gradient(to right, #c5be8b, #8b865f)
}

.content {
    margin-top: 5px;
    user-select: none
}

.icon-indicador {
    width: 55px;
    height: 55px
}

.icon-cacamba {
    width: 25px;
    height: 25px
}

.icon {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.card-margin {
    margin-right: 10px;
}

.col-space {
    padding: 5px;
}

.gradient {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    animation: changeBackgroundColor 7s infinite;
}

.readonly-wrapper {
    cursor: not-allowed;
}

abbr {
    text-decoration: none;

}

abbr:hover::after {
    text-decoration: none;
}

.help {
    vertical-align: middle;
}

.btn-negar {
    color:#dc3c46;
  }
  

.readonly-wrapper .readonly-block {
    pointer-events: none;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }