mat-toolbar {
  background-color: transparent;
  height: fit-content;
}

.example-spacer {
    flex: 1 1 auto;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides-wrapper {
    display: flex;
    width: 100%;
}

span.Liberado {
    color: rgb(5, 100, 18);
    font-weight: bold;
    text-transform: uppercase;
}

span.Pronto {
    color: #d3b300;
    font-weight: bold;
    text-transform: uppercase;
}

span.Analise {
    color: #d3b300;
    font-weight: bold;
    text-transform: uppercase;
}

span.Solicitado {
    color: rgb(119, 117, 117);
    font-weight: bold;
    text-transform: uppercase;
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    gap: 10px;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-spinner {
    margin: 20px auto;
}

@keyframes piscarSuave {
  0%, 100% { background-color: rgba(51, 173, 55, 0); } /* Verde com opacidade 0 */
  50% { background-color: rgba(76, 175, 80, 0.7); } /* Verde com 70% de opacidade */
}

.alert-pronto {
  animation: piscarSuave 3s infinite ease-in-out;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .none {
        display: none;
    }

    .center-vertical {
        margin-top: 1%;
    }

    .img-tam {
        width: 180px;
        height: 80px;
    }

    /*Titulo principal*/
    .text-sz-1 {
        font-size: 2.2rem;
    }

    /*Label data e tempo médio*/
    .text-sz-2 {
        font-size: 1.2rem;
    }

    /*Label nome*/
    .text-sz-3 {
        font-size: 1.6rem;
    }

    /*Label status, registro posto, data de cadastro e tempo decorrido*/
    .text-sz-4 {
        font-size: 1.2rem;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .none {
        display: none;
    }

    /*Titulo principal*/
    .text-sz-1 {
        font-size: 2rem;
    }

    /*Label data e tempo médio*/
    .text-sz-2 {
        font-size: 1.4rem;
    }

    /*Label nome*/
    .text-sz-3 {
        font-size: 1.8rem;
    }

    /*Label status, registro posto, data de cadastro e tempo decorrido*/
    .text-sz-4 {
        font-size: 1.5rem;
    }
     .text-sz-5 {
        font-size: 1.3rem;
    }
}

/*Breakpoint para TV*/
@media (min-width: 1201px) and (max-width: 1399px) {

    /*Titulo principal*/
    .text-sz-1 {
        font-size: 2rem;
    }

    /*Label data e tempo médio*/
    .text-sz-2 {
        font-size: 1.4rem;
    }

    /*Label nome*/
    .text-sz-3 {
        font-size: 1.7rem;
    }

    /*Label status, registro posto, data de cadastro e tempo decorrido*/
    .text-sz-4 {
        font-size: 1.5rem;
    }

    .text-sz-5 {
        font-size: 1.4rem;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {

    /*Titulo principal*/
    .text-sz-1 {
        font-size: 2.2rem;
    }

    /*Label data e tempo médio*/
    .text-sz-2 {
        font-size: 1.7rem;
    }

    /*Label nome*/
    .text-sz-3 {
        font-size: 1.8rem;
    }

    /*Label status, registro posto, data de cadastro e tempo decorrido*/
    .text-sz-4 {
        font-size: 1.6rem;
    }
    .text-sz-5 {
        font-size: 1.4rem;
    }
}

@media (min-width: 1600px) {

    /*Titulo principal*/
    .text-sz-1 {
        font-size: 2.9rem;
    }

    /*Label data e tempo médio*/
    .text-sz-2 {
        font-size: 2rem;
    }

    /*Label nome*/
    .text-sz-3 {
        font-size: 2.5rem;
    }

    /*Label status, registro posto, data de cadastro e tempo decorrido*/
    .text-sz-4 {
        font-size: 2.1rem;
    }
     .text-sz-5 {
        font-size: 1.7rem;
    }
}