mat-toolbar {
  background-color: transparent;
  height: 80px;
}

.example-spacer {
  flex: 1 1 auto;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides-wrapper {
  display: flex;
  width: 100%;
}

span.Liberado {
  color: var(--st-liberado);
  font-weight: bold;
  text-transform: uppercase;
}

span.Pronto {
  color: var(--st-pronto);
  font-weight: bold;
  text-transform: uppercase;
}

span.Analise {
  color: var(--st-pronto);
  font-weight: bold;
  text-transform: uppercase;
}

span.Solicitado {
  color: var(--st-solicitado);
  font-weight: bold;
  text-transform: uppercase;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
  gap: 10px;
}

mat-spinner {
  margin: 20px auto;
}

@keyframes piscarSuaveVerde {
  0%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* Verde com opacidade 0 .color1 { #057710 };
.color2 { #04660c };
.color3 { #035608 };
.color4 { #014504 };
.color5 { #003400 }; */
  25% {
    background-color: rgba(81, 196, 85, 0.7);
  }
  50% {
    background-color: rgba(54, 155, 57, 0.7);
  }
  75% {
    background-color: rgba(39, 151, 43, 0.7);
  }

  /* Verde com 70% de opacidade */
}

.alert-liberado {
  animation: piscarSuaveVerde 5s infinite ease-in-out;
}

@keyframes piscarSuaveVermelho {
  0%,
  100% {
    background-color: rgba(255, 255, 255);
  }

  /* Vermelho com opacidade 0 */
  50% {
    background-color: rgba(189, 95, 95, 0.7);
  }

  /* Vermelho com 70% de opacidade */
}

.alert-atrasado {
  animation: piscarSuaveVermelho 5s infinite ease-in-out;
}

/*Medium	md */
@media (min-width: 768px) and (max-width: 991px) {
  .none {
    display: none;
  }
  .h4{
    font-size: 1rem;
  }

}
/*Large	lg*/
@media (min-width: 992px) and (max-width: 1199px) {
  .none {
    display: none;
  }

}

/*Extra large	xl*/
@media (min-width: 1200px) and (max-width: 1399px) {
  .none {
    display: none;
  }
  span.h3{
    font-size: 1.5rem;
  }
   span.h2{
    font-size: 2rem;
  }

}
