<div class="background-image">
  <mat-toolbar class="user-select-none">
    <!--
      <img
      class="mt-4 mx-3"
      src="{{imageUrl}}"
      alt="Logo"
       style="mix-blend-mode: multiply; max-width: 200px;max-height: 200px;"
    />  
    -->
 <img [src]="logoUrl" alt="Logo"  style="mix-blend-mode: multiply; max-width: 200px; max-height: 200px" >
           
    
    <span class="example-spacer"></span>

    <span class="text-danger h1 mx-3 mt-4">Monitor de Emergência</span>
    <span class="example-spacer"></span>
    <a
      class="mt-2 mx-2"
      [routerLink]="['configuracao']"
      matTooltip="Clique para acessar as configurações."
      matTooltipPosition="right"
    >
      <i class="bi bi-gear fa-2x text-dark"></i>
    </a>
  </mat-toolbar>

  <div class="container main">
    <div class="row">
      <div class="col-6 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card-title text-center center-vertical user-select-none">
          <span class="fs-2">Perfil de Configuração</span>
        </div>
      </div>
      <div
        class="col-6 col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 align-center"
      >
        <div class="card">
          <div class="card-body mt-1">
            <span class="mt-5 user-select-none">Selecione</span>
            <div class="border rounded">
              <select
                class="form-select px-2"
                [(ngModel)]="id"
                aria-label="Default select example"
              >
                @for (item of configs | orderBy: 'idConfig'; track item.idConfig
                ) {
                <option value="{{ item.idConfig }}">
                  Perfil: {{ item.idConfig }} - {{ item.descricao }}
                </option>
                } @empty {
                <option value="0">Nenhum perfil encontrado</option>
                }
              </select>
            </div>
            <div class="text-center mt-4">
              <button
                type="button"
                class="btn"
                [routerLink]="['monitor', id]"
                [disabled]="!id || id === '0'"
              >
                Acessar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="fixed-bottom">
    <div class="row user-select-none">
      <div class="col-3 col-sm-1 col-md-1 col-lg-3">
        <div>
          <span class="text-white none">Karyon Consultoria de Informática</span>
        </div>
        <img
          class="profile none mx-3"
          src="assets/img/karyon.jpeg"
          width="70px"
          height="70px"
          alt="Logo"
        />
      </div>
      <div class="col-6 col-sm-10 col-md-10 col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="text-white">
              <strong>Setor de Suporte</strong>: Atendimento das 8h às 17h, de
              segunda à sexta.
            </div>
            <span class="text-white">
              Contatos:
              <i class="bi bi-telephone"></i> (21) 3622-6400 |
              <i class="bi bi-whatsapp"></i> (21) 99311-9141
            </span>
          </div>
          <div class="col-12">
            <div class="text-center text-white mt-4">
              <small>
                Copyright © {{ ano }} Monitor de Emergência. Todos os direitos
                reservados.</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-1 col-md-1 col-lg-3">
        <div>
          <span class="text-white none">Integrado ao Sistema</span>
        </div>

        <img
          class="mx-2 none"
          src="assets/img/logo_bioslab.png"
          alt="Logo"
           style="max-width: 230px; max-height: 70px"
        />
      </div>
    </div>
  </footer>
</div>
