<mat-toolbar class="user-select-none">
  <div *ngIf="loadingProfileImage" class="mx-3">Carregando imagem...</div>
  <img
    *ngIf="profileImageUrl"
    [src]="profileImageUrl"
    alt="Profile"
    style="mix-blend-mode: multiply; max-width: 150px; max-height: 150px"
  />
  <span class="example-spacer"></span>
  <div class="mx-1">
    <span class="text-danger mt-1 text-bolder h2 text-center none">{{
      title
    }}</span>
  </div>
  <span class="example-spacer"></span>
  <div>
    <p class="h4 card-title fw-lighter text-center">
      <i class="bi bi-person-square mx-1"></i>{{ configuracao?.idConfig }} -
      {{ configuracao?.descricao }}
    </p>

    <span class="h3"> {{ dataHoraFormatada }}.</span>
  </div>
  <span class="example-spacer"></span>
  <div>
    <p class="h4 card-title fw-lighter">
      <i class="bi bi-stopwatch"></i> Tempo Médio:
    </p>
    @if(tempoMedio.tempoMedio !== '' ) {
    <span class="h4 fw-medium">
      {{ tempoMedio.tempoMedio }} nas últimas
      {{ tempoMedio.baseCalculo }}h.</span
    >
    } @else {
    <h3>Gerando cálculo...</h3>
    }
  </div>
  <span class="example-spacer"></span>
  <a
    class="mx-2"
    [routerLink]="['/']"
    matTooltip="Clique para sair"
    matTooltipPosition="right"
  >
    <i class="bi bi-box-arrow-right fa-2x text-dark"></i>
  </a>
</mat-toolbar>
<div class="container-fluid user-select-none">
  <div class="row">
    <div class="col-12">
      <div class="slider-container">
        <div
          class="slides-wrapper"
          [style.transform]="getTransform()"
          [style.transition]="'transform 0.5s ease-in-out'"
          style="width: 100%"
        >
          <!--Utilizado o ngFor, devido melhor compatibilidade com o slider construído.-->
          @if(slides.length > 0) {
          <div
            class="slide"
            *ngFor="let slide of slides"
            style="
              min-width: 100%;
              flex-wrap: wrap;
              gap: 2px;
              justify-content: center;
            "
          >
            <!-- Foi inserido track exame.mne + '-' + $index para criar um idenficador e evitar a duplicação na leitura do array para verificar os status-->
            @for (item of slide; track item.nomePaciente + '-' + $index) {
            <div
              class="card"
              [ngClass]="{
                'alert-liberado': item.situacao === 'Liberado'
              }"
            >
              <!-- ,
            'alert-atrasado':
                  (item.situacao === 'Pronto' || item.situacao === 'Solicitado') &&
                  (item.decorrido | appTempoDecorridoNumber) > limiteAlertaAtrasado-->
              <div class="card-body">
                <div class="row">
                  @if(configuracao.exibirRegistroAtendimento === true){
                  <div
                    class="col-4 col-xxl-4 col-xl-3 col-lg-4 col-md-6 align-start text-truncate"
                  >
                    <span class="card-title text-capitalize h2">
                      {{ item.nomePaciente }}
                    </span>
                  </div>
                  <div
                    class="col-2 col-xxl-2 col-xl-3 col-lg-2 col-md-6 align-start"
                  >
                    <i class="bi bi-person-lines-fill mx-1 fs-4"></i>
                    <span class="h3">{{ item.registroPosto }}</span>
                  </div>

                  <div
                    class="col-2 col-xxl-2 col-xl-2 col-lg-2 col-md-4 align-start"
                  >
                    <i class="bi bi-clock-history mx-1 fs-4"></i>
                    <span class="h3">{{
                      item.dtCadastro | date : "HH'h'mm"
                    }}</span>
                  </div>
                  <div
                    class="col-2 col-xxl-2 col-xl-2 col-lg-2 col-md-4 align-start"
                  >
                    <i class="bi bi-hourglass-top mx-1 fs-4"></i>
                    <span class="h3">{{ item.decorrido }}</span>
                  </div>
                  <div
                    class="col-2 col-xxl-2 col-xl-2 col-lg-2 col-md-4 text-center"
                  >
                    <span class="{{ status(item.situacao) }} h3">
                      {{ item.situacao }}</span
                    >
                  </div>
                  } @else {
                  <div
                    class="col-4 col-xxl-4 col-xl-4 col-lg-12 col-md-6 align-start text-truncate"
                  >
                    <span class="card-title text-capitalize h2">
                      {{ item.nomePaciente }}
                    </span>
                  </div>
                  <div
                    class="col-2 col-xxl-2 col-xl-2 col-lg-4 col-md-6 align-start"
                  >
                    <i class="bi bi-clock-history mx-1 fs-4"></i>
                    <span class="h3">{{
                      item.dtCadastro | date : "HH'h'mm"
                    }}</span>
                  </div>
                  <div
                    class="col-3 col-xxl-3 col-xl-3 col-lg-4 col-md-6 align-start"
                  >
                    <i class="bi bi-hourglass-top mx-1 fs-4"></i>
                    <span class="h3">{{ item.decorrido }}</span>
                  </div>
                  <div
                    class="col-3 col-xxl-3 col-xl-3 col-lg-4 col-md-6 text-center"
                  >
                    <span class="{{ status(item.situacao) }} h3">
                      {{ item.situacao }}</span
                    >
                  </div>
                  }
                  <div
                    class="col-lg-12 col-md-12 col-sm-12 align-start text-truncate"
                  >
                    @for (exame of item.exames; track exame.mne) {
                    <span class="{{ statusExame(exame.status) }} h2 bold me-2">{{
                      exame.mne
                    }}</span>
                    } @empty {
                    <div class="m-auto mt-3">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="text-center">Sem exames para exibir</h3>
                        </div>
                      </div>
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            } @empty {
            <div class="m-auto mt-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="text-center">Sem atendimento para exibir</h3>
                </div>
              </div>
            </div>
            }
          </div>

          } @else { @if(isLoading){
          <div class="m-auto mt-4">
            <div class="loading-indicator">
              <mat-spinner></mat-spinner>
              <h3 class="text-center">{{ textLoading }}</h3>
            </div>
          </div>
          } }
        </div>
      </div>
    </div>
  </div>
</div>
<app-server-status></app-server-status>
